.text-part{
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part-1{
    width: 50%;
}
.part-1 h2{
    font-size: 50px;
    letter-spacing: 2px;
}

.part-1 h1{
    color: #000000;
    font-size: 60px;
    letter-spacing: 2px;
}

.part-1 p{
    font-family: 'poppins', sans-serif;
    line-height: 30px;
    font-size: x-large;
    letter-spacing: 1px;
}

.part-1 button{
    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 10px;
    border: 0px;
    background: #269f61;
    font-size: 15px;
    cursor: pointer;
}

.form{
    background: linear-gradient(rgba(0,0,0,7), rgba(0,0,0,0.7));
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 1em;
}

.form h3{
    color: #269f61;
    padding: 10px 80px;
    border-radius: 10px;
    background: white;
    font-size: 20px;
    font-weight: 600;
}

.input{
    display: grid;
}

.input input{
    margin-top: 7%;
    padding: 5px;
    width: 100%;
    background: transparent;
    color: #269f61;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #269f61;
}

#login:hover{
    background-color: #269f61;
    color: #ffffff;

}

.form button{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    margin-top:10% ;
    font-size: 20px;
    font-weight: lighter;
    color: #269f61;
    font-weight: bold;
    background: #ffffff;
    border: none;
    border-radius: 8px ;
    cursor: pointer;
}
#logins{
    width: 50%;
    margin: auto;
    padding: 10px 0;
    margin-top:1% ;
    font-size: 20px;
    border: none;
    border-radius: 8px ;
    cursor: pointer;
    color: #ffffff;
    background-color: #269f61;
}


.form p{
    color: white;
    text-align: center;
    margin-top: 9%;
    font-family: 'poppins', sans-serif;
}

span{
    color: #269f61;
    cursor: pointer;
}

.font-awesome{
    width: 90%;
    margin: auto;
    text-align: center;
}

.fa{
    margin-top: 6%;
    color: white;
    font-size: 40px;
    margin-left: 14px ;
    cursor: pointer;
}

.fa-instagram:hover{
    color: rgb(204, 16, 16);
}

.fa-facebook:hover{
    color: rgb(16, 75, 204);
}

.fa-twitter:hover{
    color: rgb(16, 75, 204);
}

.fa-whatsapp:hover{
    color: rgb(52, 155, 12);
}

.fa-google:hover{
    color: rgb(204, 16, 16);
}

@media screen and (max-width : 450px){
    .header{
        padding:10px;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    nav h1{
        font-size: 25px;
        margin-bottom: 5px;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-bottom: 15px;
    }

    nav ul li{
        list-style: none;
        margin-left: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

    .search-box input{
        width: 60vw;
        font-size: 10px;
        position: relative;
    }

    .search-box button{
        width: 27vw;
        margin-left: -4px;
        font-size: 10px;
        padding: 10px 7vw;
    }

    .text-part{
        margin-top: 9%;
    }

    .part-1{
        width: 80%;
        margin: auto;
    }
    .part-1 h2{
        font-size: 25px;
        letter-spacing: 0.8px;
    }

    .part-1 h1{
        font-size: 35px;
        letter-spacing: 0.8px;
    }

    .part-1 p{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.8px;
    }

    .part-1 button{
        padding: 10px 30px;
        font-size: 13px;
        margin-bottom: 30%;
    }

    .form{
        padding: 10px;
        width: 80%;
        margin: auto;
    }

    .form h3{
        background-color: transparent;
        text-align: center;
        padding: 10px 50px;
        font-size: 15px;
        font-weight: 600;
    }

    .input{
        display: flex;
        flex-direction: column;
    }

    .input input{
        margin-top: 3%;
        padding: 7px;
        width: 100%;
        font-size: 13px;
    }

    .form button{
        width: 100%;
        margin: auto;
        padding: 10px 0;
        margin-top:7% ;
        font-size: 15px;
        font-weight: lighter;
    }

    .form p{
        text-align: center;
        margin-top: 7%;
        font-size: 13px;
    }

    .form .fa{
        margin-top: 6%;
        color: white;
        font-size: 8vw;
        margin-left: 3.5% ;
        cursor: pointer;
    }

    .fa-instagram:hover{
        color: rgb(204, 16, 16);
    }

    .fa-facebook:hover{
        color: rgb(16, 75, 204);
    }

    .fa-twitter:hover{
        color: rgb(16, 75, 204);
    }

    .fa-whatsapp:hover{
        color: rgb(52, 155, 12);
    }

    .fa-google:hover{
        color: rgb(204, 16, 16);
    }
}

@media screen and (min-width : 450px) and (max-width : 700px) {
    .header{
        padding:10px;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    nav h1{
        font-size: 30px;
        margin-bottom: 5px;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-bottom: 15px;
    }

    nav ul li{
        list-style: none;
        margin-left: 25px;
    }

    nav ul li a{
        font-size: 17px;
    }

    .search-box input{
        width: 50vw;
        font-size: 10px;
        position: relative;
        margin-left: 15px;
    }

    .search-box button{
        width: 24vw;
        margin-left: -4px;
        font-size: 10px;
        padding: 10px 7vw;
    }

    .text-part{
        margin-top: 9%;
    }

    .part-1{
        width: 80%;
        margin: auto;
    }
    .part-1 h2{
        font-size: 35px;
        letter-spacing: 0.8px;
    }

    .part-1 h1{
        font-size: 45px;
        letter-spacing: 0.8px;
    }

    .part-1 p{
        margin-top: 10px;
        font-size: 17px;
        line-height: 18px;
        letter-spacing: 0.8px;
    }

    .part-1 button{
        padding: 10px 50px;
        font-size: 15px;
        margin-bottom: 20%;
    }

    .form{
        padding: 10px 30px;
        width: 80%;
        margin: auto;
        transition: 0.5s ease-in-out;
    }

    .form h3{
        background-color: transparent;
        text-align: center;
        padding: 10px 50px;
        font-size: 15px;
        font-weight: 600;
    }

    .input{
        display: flex;
        flex-direction: column;
    }

    .input input{
        margin-top: 3%;
        padding: 7px;
        width: 100%;
        font-size: 13px;
    }

    .form button{
        width: 100%;
        margin: auto;
        padding: 10px 0;
        margin-top:7% ;
        font-size: 15px;
        font-weight: lighter;
    }

    .form p{
        text-align: center;
        margin-top: 7%;
        font-size: 13px;
    }

    .form .fa{
        margin-top: 6%;
        color: white;
        font-size: 6vw;
        margin-left: 3.5% ;
        cursor: pointer;
    }

    .fa-instagram:hover{
        color: rgb(204, 16, 16);
    }

    .fa-facebook:hover{
        color: rgb(16, 75, 204);
    }

    .fa-twitter:hover{
        color: rgb(16, 75, 204);
    }

    .fa-whatsapp:hover{
        color: rgb(52, 155, 12);
    }

    .fa-google:hover{
        color: rgb(204, 16, 16);
    }
}

@media screen and (min-width : 700px) and (max-width : 850px){
    .header{
        padding:10px;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    nav h1{
        font-size: 35px;
        margin-bottom: 5px;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-bottom: 15px;
    }

    nav ul li{
        list-style: none;
        margin-left: 25px;
    }

    nav ul li a{
        font-size: 17px;
    }

    .search-box input{
        width: 50vw;
        font-size: 10px;
        position: relative;
        margin-left: 15px;
    }

    .search-box button{
        width: 24vw;
        margin-left: -4px;
        font-size: 10px;
        padding: 10px 7vw;
    }

    .text-part{
        margin-top: 9%;
    }

    .part-1{
        width: 80%;
        margin: auto;
    }
    .part-1 h2{
        font-size: 40px;
        letter-spacing: 0.8px;
    }

    .part-1 h1{
        font-size: 50px;
        letter-spacing: 0.8px;
    }

    .part-1 p{
        margin-top: 10px;
        font-size: 17px;
        line-height: 18px;
        letter-spacing: 0.8px;
    }

    .part-1 button{
        padding: 10px 50px;
        font-size: 15px;
        margin-bottom: 20%;
    }

    .form{
        padding: 10px 30px;
        width: 80%;
        margin: auto;
    }

    .form h3{
        background-color: transparent;
        text-align: center;
        padding: 10px 50px;
        font-size: 19px;
        font-weight: 600;
    }



    .input{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .input input{
        margin-top: 3%;
        padding: 7px;
        width: 100%;
        font-size: 13px;
    }

    .form button{
        /* width: 80%; */
        /* margin: auto; */
        padding: 10px 0;
        margin-top:7% ;
        font-size: 15px;
        font-weight: lighter;
    }

    .form p{
        text-align: center;
        margin-top: 5%;
        font-size: 13px;
    }

    .form .fa{
        margin-top: 6%;
        color: white;
        font-size: 4vw;
        margin-left: 3.5% ;
        cursor: pointer;
    }

    .fa-instagram:hover{
        color: rgb(204, 16, 16);
    }

    .fa-facebook:hover{
        color: rgb(16, 75, 204);
    }

    .fa-twitter:hover{
        color: rgb(16, 75, 204);
    }

    .fa-whatsapp:hover{
        color: rgb(52, 155, 12);
    }

    .fa-google:hover{
        color: rgb(204, 16, 16);
    }
}

@media screen and (min-width : 850px) and (max-width : 1100px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    .header{
        width: 100%;
        padding: 20px 70px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-family: 'poppins', sans-serif;
    }

    nav h1{
        font-size: 40px;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        margin-right: 30px;
    }

    nav ul li{
        list-style: none;
        margin-left: 40px;
    }

    nav ul li a{
        text-decoration: none;
        font-size: 18px;
        transition: 0.5s;
    }


    .search-box input{
        padding: 10px;
        width: 200px;
        position: relative;
        border-right: none;
        border-bottom-left-radius: 5px;

    }

    .search-box button{
        padding: 11px 15px;
        width: 70px;
        margin-left: -4px;
        font-size: 12px;
        text-align: left;
    }

    .text-part{
        margin-top: 9%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .part-1{
        width: 50%;
    }
    .part-1 h2{
        font-size: 35px;
        letter-spacing: 1.5px;
    }

    .part-1 h1{
        font-size: 45px;
        letter-spacing: 1.5px;
    }

    .part-1 p{
        line-height: 25px;
        letter-spacing: 0.8px;
    }

    .part-1 button{
        margin-top: 30px;
        padding: 10px 50px;
        font-size: 15px;
        cursor: pointer;
    }

    .form{
        padding: 25px;
        margin-bottom: 38px;
    }

    .form h3{
        padding: 10px 80px;
        font-size: 17px;
        font-weight: 600;
    }

    .input{
        display: grid;
    }

    .input input{
        margin-top: 7%;
        padding: 10px;
        width: 100%;
        font-size: 13px;
    }

    .form button{
        width: 100%;
        margin: auto;
        padding: 10px 0;
        margin-top:10% ;
        font-size: 17px;

    }

    .form p{
        font-size: 15px;
        text-align: center;
        margin-top: 9%;
    }


    .font-awesome{
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .fa{
        margin-top: 6%;
        font-size: 40px;
        margin-left: 14px ;
    }



}

/*secttion 3 upcoming events*/

.all{
    position: relative;
    display: flex;
    background-color:#334444;

}
.section1{
    background-color: rgb(50, 67, 50);
    align-items: center;
}


.left{
    position: static;
    margin-left: 6vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: white;
    text-align: center;
}
.contribute{
    text-align: center;
    align-items: center;
}
.right{
    position: static;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 4%;
}


.textPart{
    position: static;
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 1vw;
}


.seperateCard {
    scroll-snap-align: start; /* Snap each card to the start of the container */
    perspective: 500px;
}



/*section 4 volunteer*/
.completeSecction{
    position: relative;
    background-image: url("{{ asset('resFiles/volunteer-background.jpg') }}");
}
#vol-image{
    width: 60%;
    height: relative;
}
.volunteer-Text{
    position: static;
    bottom: 43vh;
    right: 4.4vw;
    font-size: 5.5vw;
}
.Area{
    position: absolute;
    right: 3%;
    top: 19%;
    transition: width 1s ease-in-out;
}
.normalText1{
    margin-left: 5vw;
    font-size: 2vw;
}
.normalText2{
    margin-left: 10vw;
    font-size: 2vw;
    line-height: 75%;
}

/*_______________section 5 - map__________________________________*/
.mainSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#our-projects{
    padding-left: 4vw;
    padding-right: 4vw;
}
#join{
    color: white;
    background-color:#269f61;
    margin:4px 2px; border-radius:8px;
    font-weight:bold;
    padding: 0.7vw;
    font-weight: normal;
}
#buttonSection{
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;

}
#buttonSection button{
    color: white;
    background-color:#269f61;
    margin:4px 2px ;
    border-color: #269f61;
    border-radius:8px;
    font-weight:bold;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    padding-left:3vw ;
    padding-right:3vw ;
    text-decoration: none;
    font-weight: normal;
    margin-left: 2%;
    margin-right: 2%;
}

/*____________________footer______________________*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #269f61;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #269f61;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #269f61;
}

.footer-links a:hover {
    color: #269f61;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


/*______________upcming events______________*/
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
    .wrapper {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 51vh;
    position: relative;
    }
    .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    }
    .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
    }
    .wrapper i:first-child{
    left: -22px;
    }
    .wrapper i:last-child{
    right: -22px;
    }
    .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    }
    .carousel::-webkit-scrollbar {
    display: none;
    }
    .carousel.no-transition {
    scroll-behavior: auto;
    }
    .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
    }
    .carousel.dragging .card {
    cursor: grab;
    user-select: none;
    }
    .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .carousel .card {
    scroll-snap-align: start;
    height: 450px;
    list-style: none;
    background: #E6FFE6;
    border-color: #E6FFE6;
    cursor: pointer;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
    }

    @media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .carousel img{
        max-height: 70%;
    }
    }

    /*.carousel img{
        height: 280px;
        width: 450px;
    }*/
    /*.carousel .card{
        height: auto;
        max-width: 100%;
    }*/

